.btn{
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
}
.card{
    /* border: 2px solid red; */
    width: 20%;
    box-shadow: 3px 3px 5px 2px #00000080;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
}
body{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
